@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  background: linear-gradient(45deg ,#016562,#054f57);
  color: aliceblue;
  font-family: "Tajawal", sans-serif;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 985px;
  width: 100%;
  margin: auto;
  padding: 4rem 1rem;
  height: 100%;
}
.city__name {
margin-bottom: 1.5rem;
font-size: 4.8rem;
font-weight: 400;
}
.date {
  font-size: 1.2rem;
  font-weight: 400;
}
hr {
  margin: .8rem 0;
  border-color: #3faaa6;
}
.cards{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 2rem;
}

.card .header__card {
  background-color: #054f57;
  padding: .2rem .4rem;
  border-radius: .5rem .5rem 0 0;
}
.header__card h1 {
  font-weight: 300;
  font-size: 1.6rem;
}
.body__card {
  height: 120px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3faaa6;
  border-radius: 0 0 .5rem .5rem;
}
.time {
  font-weight: 300;
}
.cities {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
select {
  width: 200px;
  height: 30px;
  background: none;
  padding: 5px;
  color: #ffff;
  font-size: 1rem;
  border-radius: .2rem;
  border-color: #3faaa6;
  outline: none;
}
option {
  background-color:#054f57 ;
  border-radius: .4rem;
}
/* media */
@media (width > 540px) {
  .cards {
    grid-template-columns: repeat(2,1fr);
  }
  
  
}
@media(width >  768px) {
  .cards {
    grid-template-columns: repeat(5,1fr);
  }
  body {
    height: 100vh;
  }
}

